<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="MY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/macbookpro/Documents/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/macbookpro/Documents/logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TELEGRAM" class="uz.pdp.sotx.TelegramBotAppender"/>

    <root level="INFO">
        <appender-ref ref="MY_CONSOLE"/>
        <appender-ref ref="MY_FILE"/>
        <appender-ref ref="TELEGRAM"/>
    </root>
</configuration>
