<!DOCTYPE html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish sahifasi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-card {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            background: #ffffff;
        }
    </style>
</head>
<body>

<div class="login-card">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Xush kelibsiz</h2>
        <p class="text-muted">Tizimga kirish uchun ma'lumotlarni kiriting</p>
    </div>

    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="shokirjon" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Parol</label>
            <input type="password" class="form-control" id="password" placeholder="********" required>
        </div>

        <div class="d-flex justify-content-between mb-3">
            <a href="#" class="text-decoration-none small">Parolni unutdingizmi?</a>
        </div>

        <div class="d-grid">
            <button onclick="login()" class="btn btn-primary btn-lg">Kirish</button>
        </div>
    </form>

    <div class="text-center mt-4">
        <p class="mb-0">Akkountingiz yo'qmi? <a href="/register" class="text-decoration-none">Ro'yxatdan o'tish</a></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

    function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        console.log("username: ",username)
        console.log("password: ",password)

        const credentials = username + ":" + password;

        // 3. Base64 formatiga o'giramiz (btoa - Built-in JS funksiya)
        const base64Credentials = btoa(credentials);

        // 4. LocalStorage-ga saqlaymiz
        // Kalit so'z sifatida 'basicAuth' ishlatdik
        localStorage.setItem('basicAuth', base64Credentials);

        window.location.href = "http://localhost:8080/page/index";

    }

</script>
</body>
</html>